.banner-card {
    img {
        width: 50%;
    }
}

.iteration-0 {
    text-align: center;
    img {
        width: 90%;
    }
}

.iteration-1 {
    display: none;
}

.iteration-2 {
    display: none;
}

@media ( min-width: $breakpoint-tablet ) {
    .iteration-1 {
        display: flex;
        flex-direction: column;
    }

    .iteration-2 {
        display: flex;
        flex-direction: column;
    }
}