.results {
    margin: 1rem .5rem;
    
    h2 {
        font-size: 2rem;
        color: $color-section-heading;

        @media ( min-width: $breakpoint-mobile ) {
            font-size: 3rem;
        }
    }

    @media ( min-width: $breakpoint-mobile ) {
        font-size: 1.5rem;
    }

    @media ( min-width: $breakpoint-desktop ) {
        h2 {
            font-size: 2.3rem;
        }
        font-size: 1.2rem;
    }
}