// Colours
// General Colours
$color-white: #ffffff;

// Layout
$header-bgc: #d3d3d3;
$footer-bgc: #a9a9a9;

// CTA's 
$banner-cta: #1e6d1e;
$banner-cta-hover: #268b26;


// Breakpoints 
$breakpoint-tablet: 50em; // 800px
$breakpoint-desktop: 62.5em; // 1000px