// Colours
// General Colours
$color-white: #ffffff;
$color-white-hover: #dfdbdb;
$color-black: #000000;

// Layout
$nav-bgc: #156b15;

// Components 
$color-search-bgc: #cfcfcf;

// CTA's 
$cta: #1e6d1e;
$cta-hover: #268b26;


// Breakpoints 
$breakpoint-mobile: 37.5em; // 600px
$breakpoint-tablet: 50em; // 800px
$breakpoint-desktop: 62.5em; // 1000px